*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






nav{
  background:black;
  opacity: 0.7;
  
  height: 100px;

}

nav ul li{
  padding-left: 10px;
}

nav ul li a{
  color: white!important;
  font-size: 20px;
  
}

nav ul li .active{
  color: red!important;
}

nav ul li a:hover{
  color: red!important;
}

 .nav_li a{
  color: white;
}

.box{
  width: 40%;
  height: 300px;
  background: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  
    outline: 2px solid red;
    outline-offset: -10px;

  opacity: 0.7;
}


.box p{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}


.box button{
  background: red;
  color: white;
  width: 120px;
  height: 40px;
}

.foods {
  padding-top: 80px;
  padding-bottom: 80px;
}

.box{
  padding-top: 20px;
}




.card{
  padding-top:25px;
  padding-bottom:25px;
  border: 1px solid red;
}

.card p{
  font-size: 14px;
  position: relative;

}
.image{
 position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.image i{
  font-size: 40px;
  padding:10px;
  background:yellow;
    width: 80px;
  height: 80px;
  border:1px solid green;
  border-radius: 50%;

}

.card button{
  width: 120px;
  height: 40px;
  margin-left: 70px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid black;
}


.image_box{
background: url(../images/bg_image.jpg) no-repeat fixed  center center;
    background-size:cover;
    height:300px;
    width: 100%;
    position: relative;

    
  
    


}
.image_div{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.image_box button{
  width: 300px;
  height: 40px;
  background: red;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

input{

  width: 200px;
  height: 40px;

}

select{
  width: 200px;
  height: 40px;
}

/*--owl--*/


 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }

 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel .item img {
     display: block;
     width: 100%;
     height: auto
 }

 .owl-carousel .item {
     margin: 3px}

 
 .owl-carousel {
     margin-bottom: 15px
 }

.item{
  position: relative;
}

.item .text{
  position: absolute;
  top: 90%;
  bottom: 0;
  color: white;

}

.text{
  width:100%;
  height: 40px;
  background: #b10400;
  font-weight:500;
}


.popular{

  background: url(../images/popular.jpg) no-repeat   center center;
    background-size:cover;
    height:900px;
    width: 100%;
    position: relative;


    
  }

  .media{
    
    padding: 5px;

  }

  .popular_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

  }

  .popular_row{
    background: white;
  }


  .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
  opacity: .7;
  height:900px;
}


.popular ul li{
  float: left;
  margin-left:20px;
  border: 1px solid black;
  padding: 5px;

} 

.popular ul li a{
  color: black;
}

.popular ul{
  list-style-type: none;
} 

.popular_div h5,h1{
  color: white;
} 

.active{
  background: black;
  color: white;
  
}

nav ul li.active a{
  color: red!important;
}

.popular .active a{
  color: white!important;
}
.popular ul li .active a{
  color: white;
}

li a{
  color: black;

}

li a:hover{
  text-decoration: none;
  background: black;
  
}

li:hover{
  background: black;
  

}

.media button:hover{
  background: red;
  color: white;
}

.popular ul li:hover  a{
  color: white;
}




.media-body{
  padding-left: 10px;
  border: 1px solid red;
  padding-bottom: 2px;

} 

.media  button{
  border: 1px solid black;
  font-size: 12px;
  padding: 5px;
}









.owl-carousel1 img{
  height: 300px;
  width: 300px;
}



.item1{
  position: relative;
}

.item1 .text1{
  position: absolute;
  top: 80%;
  bottom: 0;
  color: white;

}

.text1{
  width:81%;
  height: 80px;
  background: #b10400;
  font-weight:500;
  color: white;
}




/*--owl carousel2--

.col-carousel {
  margin: 70px 0;
}

/* owl nav 
.owl-prev span, .owl-next span {
  color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
  color: #8199A3;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}

/* removing blue outline from buttons 
button:focus, button:active {
   outline: none;
}



.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}


.col-carousel span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
h2 {
    margin-top: 50px;
    font-size: 18px;
    font-family: sans-serif;
}
h2 span{
  color: red;
  font-size: 100%;
  position: initial;
}*/




/*--events--*/












.events{
   background: url(../images/restaurant1.jpg) no-repeat   center center;
    background-size:cover;
    height:500px;
    width: 100%;
    position: relative;
}

.overlay1{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:black;
  opacity: .8;
  height:500px;
}


.slider{

  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  z-index: 99999999999999;


}

.events_row{
  background: white;
}

.col2{
  background: white;
  color: black;
}

.row2 div{
  margin: auto;
}

.div1{
  width: 60px;
  height: 80px;
  background: red;
  color: white;
  font-size:15px;
}


.div2{
  width: 60px;
  height: 80px;
  background: red;
  color: white;
  font-size:15px;
}

.div3{
  width: 60px;
  height: 80px;
  background: red;
  color: white;
  font-size:15px;
}

.div4{
  
  width: 60px;
  height: 80px;
  background: red;
  color: white;
  font-size:15px;

}


.blog_div{
  border: 1px solid grey;
  width: 270px;
  height: 200px;
  position: absolute;
  margin-top: -70px;
  margin-left: 40px;

  background: white;
  color: black;

}

.blog_div span{
  background:red;
  padding:10px;
  margin-top:-20px;
  margin-left:-30px;
  position:absolute;
  color:white;
}

.blog h5{
  color: red;
}



.footer{
  padding-top: 50px;
  background: #181818;
  color: white;
}


.chefs h4{
  color: red;
}



.main_footer ul{
  list-style-type: none;
  
}

.main_footer ul li{
  float: left;
  padding-left: 10px;
}


.footer_p{
  font-size: 15px;
}


.main_footer{
  background: black;
  color: white;
}

.footer i{
  color: red;
}









 #myBtn2 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:black; /* Set a background color */
  color: red; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn2:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


















@media only screen and (max-width: 600px) {

  #Navbar1{
    background: red;
  }
  

  .box{
    width: 70%;
  }

  .card{
    padding-bottom: 67px;
  }

  .card button{
    margin-left: 108px;
  }

  .image_box{
    height: 450px;
  }

  .image_box input{
    margin: 5px;
  }


  .image_box button{
    margin-top: 5px;
  }

  .popular{
    height: 1800px;
  }

  .blog_col{
    padding-bottom: 200px;
  }

  .box{
    padding: 0;
  }
}